.poll-container {
    margin-top: 2em;
    padding: 2em;
    background-color: $light;
    box-shadow: 0 2px 10px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    
    .button {
        display: block;
        display: flex;
        align-items: center;
        height: 3em;
    }

    .poll-choice-buttons-container {
        display: flex;
        flex-direction: column;
        .poll-button {
            position: relative;
            margin-bottom: 0.75em;
            color: $dark;
            transition: 100ms background-color ease-in,
                        100ms color ease-in;

            .letter {
                position: absolute;
                color: $turquoise;
                font-size: 0.75em;
                line-height: 1;
                left: 0.5em;
                top: 0.5em;
                transition: font-size 80ms ease-in,
                            top 80ms ease-in,
                            left 80ms ease-in;
            }
            
            &.active {
                background-color: $blue;
                color: white;
                .letter {
                    font-size: 1em;
                    color: white;
                    top: 0.25em;
                    left: 0.375em;
                }
            }
        }

        .submit-button {
            @extend .is-primary;
            margin-top: auto;
        }
    }

    .graph-container {
        .graph {
            position: relative;
            border: 1px solid #dbdbdb;
            background-color: white;
            padding: 1em;
            padding-top: 56.25%;
            .graph-inner {
                position: absolute;
                top: 2em;
                right: 2em;
                bottom: 2em;
                left: 2em;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                border-bottom: 3px solid $blue;
                border-left: 3px solid $blue;
                .bar {
                    background: $turquoise;
                    width: 100%;
                    max-width: 20%;
                    height: 90%;
                    margin: 0 1em;
                    &:first-child {
                        margin-left: 3em;
                    }
                    &:last-child {
                        margin-right: 3em;
                    }
                }
            }
        }
    }
}