.ribbons {
    display: flex;
    .ribbon {
        height: 8px;
        width: 100%;
        &:nth-child(1) {
            background-color: $red;
        }
        &:nth-child(2) {
            background-color: $blue;
        }
        &:nth-child(3) {
            background-color: $turquoise;
        }
        &:nth-child(4) {
            background-color: $yellow;
        }
    }
}